html {
    min-height: 100%;
    background-image: url("https://images.fineartamerica.com/images-medium-large-5/my-i-want-to-believe-minimal-poster-xfiles-chungkong-art.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    overflow: auto;
}

body {
    overflow: auto;
    text-align: center;
    vertical-align: center;
}

header {
    text-align: center;
    vertical-align: center;
    border-bottom: solid;
    margin: 15px;
    padding: 20px;
}

ul a {
    color: #0f1f40;
    text-decoration: none;
    box-shadow: 10px 5px 5px rgb(255, 255, 255);
    margin: 15px;
    background-color: #8dac89;
    padding: 10px 15px;
    font-weight: bold;
}

tr td a {
    color: #0f1f40;
    font-weight: bold;
}

table {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
    vertical-align: center;
    border-style: double;
    font-size: larger;
    border-color: #0f1f40;
    padding: 20px;
    color: #0f1f40;
    background-color: rgb(134, 160, 130);
}

td {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-color: #0f1f40;
    color: #0f1f40;
    background-color: rgba(141, 172, 137);
}

.headings {
    padding-top: 130px;
    text-align: left;
    font-size: large;
    line-height: 40px;
    color: rgb(2, 2, 2);
    font-family: "Times New Roman", Times, serif;
    font: small-caps bold 24px/1 sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-color: rgb(0, 0, 0);
    border-top-style: double;
    border-width: 10px;
    background-color: rgba(141, 172, 137, .5);
}

footer p {
    margin: 0;
    padding: 0;
}

.footerp {
    color: white;
    text-align: center;
}

.footerimg {
    width: 10%;
    height: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.486);
}

.forms {
    text-align: left;
    font-size: large;
    color: #0f1f40;
    background-color: rgba(141, 172, 137, .5);
}

p {
    font-family: "Times New Roman", Times, serif;
    padding-top: 30px;
    color: white;
}

.project_name {
    font: small-caps bold 35px sans-serif;
    padding-top: 30px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.project_description {
    text-align: left;
    color: black;
    font-size: larger;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(141, 172, 137, .5);
}

div {
    position: sticky;
}

.buttons {
    border-radius: 12px;
    border: 2px solid rgba(141, 172, 137, .5);
}

.button:hover {
    background-color: rgba(141, 172, 137, .5);
    color: white;
}